---
---

@import "{{ site.theme }}";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: dodgerblue;
    }
}
body {
    color: white;
    background-color: black;
    background-size: 100%;
}
a {
    color: cyan;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    // transform: translate(-50%,-50%);
}
.grid img {
    max-width: 100%;
}
.icongrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 150px));
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    // transform: translate(-50%,-50%);
}
.icongrid img {
    max-width: 100%;
}
.container {
    display: grid;
    justify-content: center;
    background: white;
    width: 50%;
    margin: 0 auto;
}
