---
---

@import "{{ site.theme }}";
.main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: dodgerblue;
    }
}
body {
    color: white;
    background-color: black;
}
a {
    color: cyan;
}
img[src*='#icon'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
.grid img {
    max-width: 100%;
}