---
---

@import "{{ site.theme }}";
img[src*='#default'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}
h1 {
    color: darkblue;
}
h2 {
    color: darkblue;
}
h3 {
    color: darkblue;
}
body {
    color: white;
    background-color: black;
}
a {
    color: cyan;
}